<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" lang="en">
<head th:replace="plantilla/template :: head">

<body>
<header th:replace="plantilla/template :: header"></header>

<!--<div class="container-h2">
  <div class="row-h-btn">
    <div class="col-sm-btn">
      <a th:href="@{/login}"><button type="button" class="btn btn-warning">LOG-IN</button></a>
    </div>
    <div class="col-sm-btn">
      <a th:href="@{/registro}"><button type="button" class="btn btn-warning">SING-UP</button></a>
    </div>
  </div>
</div>-->

<main th:fragment="main">



    <div class="container" >
        <div class="abs-center">
            <div class="row">
                <div class="col">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative">
                        <!--<a class="btn btn-secondary  mx-auto style= text-black-50" th:href="@{/views/eventos/create}"
                           th:text="'Nuevo Evento'" title="Crear Nuevo Evento">
                        </a></div>-->
                        <!--<a class="btn btn-secondary  mx-auto style= text-black-50" th:href="@{/views/eventos/create}">
                            <img th:src="@{/img/plus.png}" title="Crear Nuevo Evento" width="100" height="97" >
                            <h3>Crear Nuevo Evento</h3>
                        </a>-->
                        <a class="btn btn-secondary  m-5 mx-auto style= text-black-50 fotocrearevento" th:href="@{/views/eventos/create}"
                           th:text="'Crear Evento Nuevo'" title="Crear Evento Nuevo">
                        </a>
                        <a class="btn btn-secondary  m-5 mx-auto style= text-black-50" th:href="@{/logout}"
                           th:text="'Logout'" title="Logout">
                        </a>
                    </div>

                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" th:each="ev:${eventos}">
                        <div class="col p-4 d-flex flex-column position-static post">

                            <h3 class="mb-2" th:text="${ev.titulo}"></h3>
                            <p class="mb-2" th:text="${ev.fecha_hora}"></p>
                            <p class="card-text mb-auto" th:text="${ev.descripcion}"></p>
                            <p  class="" th:text="${ev.user_max}"></p>
                            <!--<a class="btn btn-success btn-sm" th:href="@{/views/eventos/edit/} + ${ev.id}"
                               th:text="'Editar'" title="Editar Evento">
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{/views/eventos/delete/} + ${ev.id}"
                               th:text="'Eliminar'" title="Eliminar Evento"
                               onclick="return confirm('¿Estas seguro de que quieres eliminar el evento?')">
                            </a>-->
                        </div>
                        <div class="caja">
                            <img class="bd-placeholder-img imgcard"   th:src="@{${ev.img}}" role="img">
                            <a class="btn btn-success btn-sm" th:href="@{/views/eventos/edit/} + ${ev.id}"
                               th:text="'Editar'" title="Editar Evento">
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{/views/eventos/delete/} + ${ev.id}"
                               th:text="'Eliminar'" title="Eliminar Evento"
                               onclick="return confirm('¿Estas seguro de que quieres eliminar el evento?')">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>